* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura {
  padding: 0 10%;
}

header .header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

footer .footer-container {
  display: flex;
}

footer .footer-container div {
  width: calc(100%/3);
}

.pasta-lunga,
.pasta-corta,
.pasta-cortissima {
  display: flex;
  justify-content: space-between;
}

.pasta-lunga img,
.pasta-corta img,
.pasta-cortissima img {
  width: 250px;
  height: 125px;
}

